{
    "plugins": ["./node_modules/prettier-plugin-antlers/"],
    "overrides": [
        {
            "files": "*.antlers.html",
            "options": {
                "parser": "antlers"
            }
        }
    ]
}
