{{ partial:components/frame background_color="bg-white" }}
    <div class="container flex flex-col items-center">
        {{ partial:components/heading as="h3" class="text-center" }}
            {{ title }}
        {{ /partial:components/heading }}
        <div
            class="grid items-center max-w-5xl grid-cols-2 gap-8 mt-10 sm:gap-12 xl:gap-24 sm:grid-cols-4"
        >
            {{ logo_overview }}
                <img
                    src="{{ logo }}"
                    alt="{{ logo:alt }}"
                    width="{{ logo:width }}"
                    height="{{ logo:height }}"
                    class="block h-auto w-[160px] sm:w-[180px] place-self-center"
                />
            {{ /logo_overview }}
        </div>
    </div>
{{ /partial:components/frame }}
