{{ partial:components/frame background_color="bg-blue-600" class="relative h-full" }}
    <div
        class="bg-[url('../images/hero-highlight.webp')] bg-no-repeat bg-center mix-blend-soft-light inset-0 w-full absolute pointer-events-none"
    ></div>
    <div
        class="container flex flex-col justify-between gap-12 lg:items-center lg:flex-row"
    >
        <div class="flex flex-col flex-shrink-0 lg:max-w-lg">
            {{ partial:components/heading as="h1" class="text-white" }}
                {{ title }}
            {{ /partial:components/heading }}
            {{ if subtitle }}
                <span class="block mt-2 text-lg text-white">
                    {{ subtitle }}
                </span>
            {{ /if }}
        </div>
        {{ if form }}
            {{ form:create in="{form:handle}" class="flex items-center w-full gap-4 p-3 border rounded-md lg:max-w-lg border-white/40 bg-white/5" }}
                <div class="flex flex-wrap items-center flex-grow gap-4">
                    {{ fields }}
                        {{ field }}
                    {{ /fields }}
                    <input type="text" name="honeypot" class="honeypot" />
                </div>

                {{ partial:components/button as="button" variant="white" size="small" class="" label="Signup" }}
            {{ /form:create }}
            {{ form:set is="{form:handle}" }}
                {{ if {form:success} }}
                    {{ form:submission }}
                        {{ partial:components/form_submission_notification }}
                            {{ thank_you_notification }}
                        {{ /partial:components/form_submission_notification }}
                    {{ /form:submission }}
                {{ /if }}
            {{ /form:set }}
        {{ /if }}
    </div>
{{ /partial:components/frame }}
