<footer class="relative py-12 bg-gray-800 sm:py-16 lg:py-20 xl:py-24">
    <div
        class="bg-[url('../images/hero-highlight.webp')] bg-no-repeat bg-center mix-blend-soft-light inset-0 w-full absolute pointer-events-none opacity-60"
    ></div>

    <div class="container flex flex-col items-center gap-9">
        {{ partial:components/logo variant="white" }}
        {{ partial:navigation/main_navigation class="text-gray-400" }}
        {{ partial:components/social_links }}
        <span class="text-gray-500">
            {{ settings:copyright_text }}
        </span>
    </div>
</footer>
